ul
{
    list-style:none;
}
.caption
{
    text-align:center;
}
.user_data
{
    text-align:center;
}

.page-content
{
    text-align:center;
}

.pinglun
{
    text-align:left;
}
.pinglun-content
{
    text-align:left;
}

.detail-caption
{
    text-align:center;
}

.user_data
{
    text-align:center;
}