{% extends 'base.html' %}
{% block head %}<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">{% endblock %}
{% block title %}Public Message{% endblock %}
{%  block main %}
<center>
<dvi class="container">
    <ul>
        {% for question in questions %}
        <li>
            <div class="question-group">
                <div class="question-caption">
                    <p>
                        <a href="{{url_for('detail',question_id=question.message_id)}}">
                            {{question.caption}}
                        </a>
                    </p>
                </div>
                <div class="question-content">
                    <p>
                    {{question.content}}
                    </p>
                </div>
                <div class="question-info">
                    <span>{{question.author.username}}</span>
                    <span >{{question.create_time}}</span>
                </div>
            </div>
        </li>
        <hr>
        {% endfor %}
    </ul>
</dvi>
</center>
{% endblock %}